---
layout: layout.njk
---

<h1>{{ line.displayTitle }}</h1>

<div class="line-content">
  {{ line.htmlFormatted | safe }}
</div>


{% set id = line | lineId %}

<a href="/library/{{ line.book }}/{{ line.chapter }}/Line_{{ id }}/" class="back-button">
  ← Back to Line {{ id }}
</a>
