---
layout: layout.njk
---

<h1>{{ group.book | capitalize }} - Chapter {{ group.chapter }} - Line {{ group.id }}</h1>

<div class="tile-container">
  {% set order = ["Lens","Reflections","Rendering","Source"] %}
  {% for label in order %}
    {% set key = label | lower %}
    {% if group.files[key] %}
      {% set url = (group.book | txtUrl(group.chapter, group.files[key].basename)) %}
      <a class="tile" href="{{ url }}">
        <div class="tile-book"></div>
        <div class="tile-label">Line {{ group.id }} {{ label }}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<a href="/library/{{ group.book }}/{{ group.chapter }}/" class="back-button">
  ← Back to Chapter {{ group.chapter }}
</a>
