---
pagination:
  data: collections.chapters
  size: 1
  alias: chapterData
permalink: "/library/{{ chapterData.book }}/{{ chapterData.chapter }}/index.html"
layout: layout.njk
---

<h1>{{ chapterData.book | capitalize }} - Chapter {{ chapterData.chapter }}</h1>

<div class="tile-container">
  {% for g in collections.lineGroups %}
    {% if g.book == chapterData.book and g.chapter == chapterData.chapter %}
      <a class="tile" href="/library/{{ g.book }}/{{ g.chapter }}/Line_{{ g.id }}/">
        <div class="tile-book"></div>
        <div class="tile-label">Line_{{ g.id }}</div>
      </a>
    {% endif %}
  {% endfor %}
</div>

<a href="/library/{{ chapterData.book }}/" class="back-button">← Back to {{ chapterData.book | capitalize }}</a>
